{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script>
        //var collectionHolder = $('ul.detalles');
        var collectionHolder = $('#{{edit_form.detalles.vars.id}}');

        // configura una enlace "Agregar una etiqueta"
        var $addTagLink = $('<br><a href="#" class="add_tag_link">Agregar Detalle</a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);

        jQuery(document).ready(function() {
            // Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
            collectionHolder.append($newLinkLi);

            // cuenta las entradas actuales en el formulario (p. ej. 2),
            // la usa como índice al insertar un nuevo elemento (p. ej. 2)
            collectionHolder.data('index', collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // evita crear el enlace con una "#" en la URL
                e.preventDefault();

                // añade una nueva etiqueta form (ve el siguiente bloque de código)
                addTagForm(collectionHolder, $newLinkLi);
            });
            $collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });
        });
        function addTagForm(collectionHolder, $newLinkLi) {
            // Obtiene los datos del prototipo explicado anteriormente
            var prototype = collectionHolder.data('prototype');

            // Consigue el nuevo índice
            var index = collectionHolder.data('index');

            // Sustituye el '__name__' en el prototipo HTML para que
            // en su lugar sea un número basado en cuántos elementos hay
            var newForm = prototype.replace(/__name__/g, index);

            // Incrementa en uno el índice para el siguiente elemento
            collectionHolder.data('index', index + 1);

            // Muestra el formulario en la página en un elemento li,

            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            addTagFormDeleteLink($newFormLi);
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">delete this tag</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
        $(function() {
            $("#pepe_pepebundle_factura_fecha").datepicker({dateFormat: 'dd/mm/yy'});

        });
    </script>
{% endblock %}
{% block body -%}
    {{ parent()}}
    
    <h1>Editar Factura</h1>

    {{ form(edit_form) }}
    {{ form(delete_form) }}

    <div class="well bs-component">
        <a class="btn btn-primary"  href="{{ path('factura') }}">
            Back to the list
        </a>
    </div>

{% endblock %}
