{% extends '::base.html.twig' %}

{% block body -%}
    {{ parent()}}
    <h1>Editar Producto</h1>

    {{ form(edit_form) }}
    {{ form(delete_form) }}

    <div class="well bs-component">
        <a class="btn btn-primary" href="{{ path('producto') }}">
            Volver
        </a>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script>
        $(function() {
            $("#pepe_pepebundle_producto_fechaAlta").datepicker();
        });
    </script>

{% endblock %}
