{% extends '::base.html.twig' %}

{% block body -%}
    {{ parent()}}
    <h1>Editar Producto</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('producto') }}">
            Volver a la Lista
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script>
        $(function() {
            $("#pepe_pepebundle_producto_fechaAlta").datepicker();
        });
    </script>
    
{% endblock %}
